
body{
    background-color: #010003;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    color: #9acc99;
}

.board-container{
    display:flex;
    width: 600px;
    height: 600px;
    border: 1px solid #9acc99;
    background-color: #9acc99;
    flex-wrap: wrap;
}