
.board-container{
    display:flex;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: #9acc99;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}